* {  
  font-size: 13pt;
}
QPushButton#pbConnect { 
  color: white;
  background: rgb(14,99,156);
  border-radius: 25px;
  padding: 10px;
  border: 0px;
  width: 160px;
  height: 40px;
}
QPushButton#pbConnect:disabled { 
  color: gray;
}
QPushButton#pbConnect::hover, QPushButton#pbCancel::hover {
  background: rgb(0,122,204);
}
QPushButton#pbCancel { 
  color: white;
  font-size: 8pt;
  background: rgb(14,99,156);
  border-radius: 5px;
  padding: 5px;
  border: 0px;
  width: 60px;
  height: 15px;
}
QPushButton#pbHamburger { 
  border-image: url(images/hamburger_hover.png);
  max-width: 32px;
  max-height: 32px;
}
QPushButton#pbHamburger::hover {
  border-image: url(images/hamburger.png);
}
QPushButton::menu-indicator {
  image: url(myindicator.png);
}

QComboBox, QLineEdit { 
  padding: 0px; 
  border: 1px solid gainsboro;
  height: 40px;
  border-radius: 5px;
}
QComboBox QFrame { 
  padding: 0px;
  border: 1px solid gainsboro; 
  background-color: white;
}
QComboBox::drop-down { 
  border: 0px; 
}
QComboBox::down-arrow { 
  image: url(images/arrow_down_16.png); 
  margin-right: 20px;
}
QComboBox::hover { 
  background-color: #fefefe;
}

QLineEdit {
  padding-left: 10px;
  padding-right: 10px;
}

QProgressBar { background: transparent; border:0px;}
QProgressBar::chunk { background: rgb(14,99,156);}

QLabel[error="true"] {
  color : red;
}
