<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true">

  <targets async="true">
    <target xsi:type="File"
            name="default"
            layout="${date:format=yyyy-MM-dd HH\:mm\:ss}: APP: ${windows-identity}: ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
            fileName="${specialfolder:folder=LocalApplicationData}/Golddrive/golddrive.log"
            archiveFileName="${specialfolder:folder=LocalApplicationData}/Golddrive/golddrive-{##}.log"
            keepFileOpen="false"
            archiveNumbering="Sequence"
            archiveAboveSize="10240"
            concurrentWrites="true"
            encoding="iso-8859-2" />
  </targets>
  <rules>
    <logger name="*" writeTo="default" minlevel="Info" />
  </rules>
</nlog>