* { font-size: 13pt; }
QPushButton[css="true"] { 
  color: white;
  font-size: 8pt;
  background: rgb(14,99,156); /*  #0E639C */
  border-radius: 5px;
  padding: 5px;
  border: 0px;
  width: 70px;
  height: 20px;
}
QPushButton#pbConnect { 
  font-size: 11pt;
  color: white;
  background: rgb(14,99,156);
  border-radius: 35px;
  padding: 10px;
  border: 0px;
  width: 180px;
  height: 50px;
}
QPushButton#pbConnect:disabled,
QPushButton[css="true"]:disabled, 
QComboBox:!enabled, 
QLineEdit:!enabled {   
  border: 1px solid #B2B2B2;
  background: #DBDBDB;
  color: #666666;
}
QPushButton[css="true"]::hover,
QPushButton#pbConnect::hover {  background: rgb(0,122,204); /* #007ACC */ }
QPushButton#pbHamburger { 
  border-image: url(:/images/hamburger.png);
  max-width: 32px;
  max-height: 32px;
}
QPushButton#pbHamburger::hover {  border-image: url(:/images/hamburger_hover.png);}
QPushButton#pbHamburger::disabled {  border-image: url(:/images/hamburger_disabled.png);}
QPushButton::menu-indicator {  image: url(noimage.png);}
QComboBox, QLineEdit { 
  padding-right: 20px;
  border: 1px solid gainsboro;
  height: 40px;
  border-radius: 5px;
}
QComboBox QFrame { 
  padding: 0px;
  border: 1px solid gainsboro; 
  background-color: white;
}
QComboBox::drop-down {  border: 0px; }
QComboBox::down-arrow { image: url(:/images/arrow_down_16.png); margin-right: 20px; }
QComboBox::hover { background-color: #fefefe; }
QLineEdit {
  padding-left: 10px; 
}
QProgressBar { background: transparent; border:0px;}
QProgressBar::chunk { background: rgb(14,99,156);}
QLabel[error="true"] { color : red;}
QLabel#lblUserHostPort { color : gray; font-size: 10pt;}
QLabel#lblSettings,
QLabel#lblAbout { font-size: 10pt; }

